* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-family: "Gluten", cursive;
}

main {
  height: calc(80vh - 7rem);
  width: calc(100vw - 4rem);
  margin: auto;
  background-color: bisque;
  aspect-ratio: 16 / 9;
  border-radius: 3%;
  position: relative;
}

main div img {
  max-width: 100%;
  /* height: 3rem; */
  padding: 0.5rem;
  border-radius: 1rem;
  background: transparent;
}

@keyframes popImage {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

.pop {
  animation: popImage 0.3s linear;
}

.image-container {
  position: relative;
  height: 4rem;
}

.element-container {
  width: 3rem;
  height: 3rem;
  z-index: 2;
}

.castle-container {
  max-width: 14rem;
  height: auto;
  padding: 0.5rem;
  border-radius: 1rem;
  z-index: 0;
}

.lock {
  max-width: 8rem;
  height: auto;
  padding: 0.5rem;
  border-radius: 1rem;
  z-index: 0;
}

.lock-container {
  left: calc(14rem / 2);
  transform: translateX(-50%);
  right: inherit !important;
}

/* #timer {
  font-family: "Gluten", cursive;
  padding-top: 2rem;

  &span {
    color: red;
  }
} */

/* .avatar {
  position: absolute;
  height: 2rem;
  aspect-ratio: 1;
  border-radius: 100vh;
  background-color: hsla(249, 60%, 30%, 0.8);
} */

/* .sprite-container {
  width: 10%;
  height: 22%;
  overflow: hidden;
  position: relative;
} */

.sprite {
  width: 100px;
  height: 100px;
  background-image: url("./assets/images/enchantressSprite/Walk.png");
  background-size: cover;
  position: relative;
  animation: animateSprite 0.5s steps(7) infinite;
  z-index: 1;
}

.sprite-left {
  transform: scaleX(-1);
}

@keyframes animateSprite {
  from {
    background-position: 100% 0;
  }
  to {
    background-position: 0 0;
  }
}

.images-Bending {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-right: 4rem;
}

.image-Size {
  max-width: 100%;
  height: 3rem;
  padding: 0.5rem;
  border-radius: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.button {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 20;
}

.button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(249, 60%, 30%, 0.8) !important;
  border-radius: 2rem;
  z-index: -10;
}

.button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: darken(hsla(249, 60%, 30%, 0.8), 15%) !important;
  transition: all 0.3s;
  border-radius: 2rem;
  z-index: -5;
}

.button:hover {
  color: #fff;
}

.button:hover:before {
  width: 100%;
}
